ATicket/ATicket.Android/Web References/WebReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ShowStart.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ShowStart.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfshowstarts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="showstarts" nillable="true" type="tns:showstarts" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfshowstarts" nillable="true" type="tns:ArrayOfshowstarts" />
  <xs:complexType name="showstarts">
    <xs:sequence>
      <xs:element minOccurs="0" name="actor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="front_image_path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="place" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="readtime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="showname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="startime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="showstarts" nillable="true" type="tns:showstarts" />
  <xs:complexType name="ArrayOfmonitor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="monitor" nillable="true" type="tns:monitor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmonitor" nillable="true" type="tns:ArrayOfmonitor" />
  <xs:complexType name="monitor">
    <xs:sequence>
      <xs:element minOccurs="0" name="actor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="monitor" nillable="true" type="tns:monitor" />
</xs:schema>